<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<div>
    <h1><%=message%></h1>
    <form action="/login" method="POST">
        <div>
            <label>E-mail</label>
            <input type="text" name="email"/>
            <label>Password</label>
            <input type="text" name="password"/>
            <button type='submit'>Login</button>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
    </form>
    <a href="/resetPage">Reset Password</a>
</div>


<%- include('../includes/footer.ejs') %>