<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<div>
    <h1><%=message%></h1>
    <form action="/newPassword" method="POST">
        <div>
            <label>New Password</label>
            <input type="text" name="newpassword"/>
            <button type='submit'>Reset Password</button>
        </div>
        <input type="hidden" name="token" value="<%= token %>"/>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
    </form>
</div>


<%- include('../includes/footer.ejs') %>