<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<div>
    <h1><%=message%></h1>
    <form action="/resetPassword" method="POST">
        <div>
            <span>
                <label>Email</label>
                <input type="text" name="email" type='text'/>
            </span>
            <button type='submit'>Send Link</button>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
    </form>
</div>


<%- include('../includes/footer.ejs') %>