<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<div>
    <div>
        <h1>Aishwarya's Orders</h1>
        <% if(orders.length){ 
            for(let order of orders){ %>
                <div><b>Order id :: #<%=order._id %></b></div>
                <ul>
                    <% order.items.forEach(order => {%>
                    <li>
                        <div>
                            <div><%= order.title %></div>
                            <div><label>Price:</label><span><%= order.price %> rupees</span></div>
                            <div><label>Quantity:</label><span><%= order.quantity%></span></div>
                            
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <% } }%>   
</div>
<%- include('../includes/footer.ejs') %>